html,
body {
  color: grey;
  font-family: ubuntu;
}

h2 {
  margin: 10px;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.calculator-frame {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: solid 2px #cdcdcd;
  border-radius: 5px;
}

.title {
  display: flex;
  flex-direction: column;
  background-color: #cdcdcd;
  text-align: center;
}

.output-frame {
  display: flex;
  justify-content: flex-end;
  border: none;
  font-size: x-large;
}

.btn-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: 100%;
  margin: 1px;
}

.btn {
  background: none;
  border: solid 1px #cdcdcd;
  width: 24%;
  margin: 1px;
  border: solid 2px #cdcdcd;
  border-radius: 5px;
  color: grey;
  font-size: larger;
  outline: none;
  transition-duration: 0.3s;
}

.btn:hover {
  background-color: #333;
  color: white;
}

.btn:active {
  background-color: #333;
  color: white;
  transform: translateY(4px);
}

.operators {
  background: #806678;
  color: white;
}

.special-clear {
  background: #806678;
  color: orange;
}
